

/* add base stylling */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-align: center;
}

/* style .clear class to clear floats */
.clear {
    clear: both;
}

/* stlye title area */
.title-area {
    height: 6rem;
}

.title-area h1 {
    font-size: 3rem;
    padding-top: 1rem;
}

/* style and position game area sections */
.games-area {
    position: relative;
}

.player-area, .central-area {
    display: inline-block;
}

#user-area {
    float: left;
}
#cpu-area {
    float: right;
}

.player-area {
    width: 40%;
    border: 2px solid black;
}

.central-area {
    width: 20%;
}

.score-area {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    padding: 7rem;

}