/* import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* add base stylling */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

/* style .clear class to clear floats */
.clear {
    clear: both;
    line-height: 0;
}


/* stlye title area */
.title-area {
    margin: 0.5rem 0;
}

.title-area h1 {
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

/* style footer */
footer {
    margin: 0.25rem;
}

footer a {
    text-decoration: none;
}

/* style and position game area sections */
.games-area {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

#rules-area {
    width: 60%;
}

#rules-area h2 {
    text-decoration: underline;
    margin-bottom: 0.5rem;
}

#rules-image-container {
    width: 50%;
    margin: 0 auto;
}

#rules {
    margin: 0 auto;
    padding: 1rem;
    font-size: 1.25rem;
}

#rules ol {
    list-style-position: inside;
    padding-left: 0;
}

.player-area, .central-area {
    display: inline-block;
}

#user-area {
    float: left;
}

#cpu-area {
    float: right;
}

.player-area {
    width: 40%;
    padding: 1rem;
}

.central-area {
    width: 20%;
}

#results-area, #countdown-area {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#results-area {
    font-size: 1.5rem;
    width: 20%;
}

#countdown-area {
    font-size: 2rem;
}

/* style images */
.rules-image-container img {
    width: 100%;
}

.image-container {
    border: 1px solid #000000;
    border-radius: 10%;
    margin: 1rem;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    margin-bottom: -0.3rem;
}

/* style buttons */
.btn {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    color: #ffffff;
    background-color: #1b1d4e;
}

.btn-small {
    padding: 0.3rem;
    margin: 0 0.5rem;
    font-size: 0.5rem;
    border-radius: 0.25rem;
    color: #ffffff;
    background-color: #1b1d4e;
}

/* style buttons within user image */
.btn-user {
    padding: 0;
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    border-radius: 50%;
    /* add opacity: 0; when submitting */
    background-color: rgba(255, 0, 0, 0.5);
}

#user-image-container {
    position: relative;
}

#rock-button {
    top: 21%;
    left: 50.5%;
}

#paper-button {
    top: 43%;
    left: 80%;
}

#scissors-button {
    top: 77%;
    left: 69%;
}

#lizard-button {
    top: 77%;
    left: 32%;
}

#spock-button {
    top: 43%;
    left: 20%;
}

/* style active title with countdown */
.normal-title {
    color: #000000;
}

.active-title {
    color: #ff0000;
}

/* add class to hide elements upon request */
.hide, .hide-center {
    display: none;
}


/* add media queries for responsive deisgn */
@media screen and (max-width: 950px) {
    .title-area h1 {
        font-size: 1.75rem;
        padding: 1rem 0;
    }

    #results-area {
        font-size: 1rem;
    }
}

/* Threshold for vertical stacking */
@media screen and (max-width: 800px) {
    .title-area h1 {
        font-size: 1.5rem;
    }

    #rules-image-container {
        width: 40%;
    }

    #rules ol {
        font-size: 0.8rem;
    }

    .games-area, #rules-area {
        width: 100%;
    }

    .central-area {
        display: block;
        width: 100%;
        height: 3rem;
        position: relative;
    }

    #results-area {
        width: 100%;
    }

    .player-area{
        padding: 0;
    }

    #user-area, #cpu-area {
        float: none;
        clear: both;
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    .image-container {
        width: 40%;
        margin: 0 auto;
    }

    .hide-center {
        display: initial;
        visibility: hidden;
    }
}

@media screen and (max-width: 400px) {
    .title-area h1, .games-area h2 {
        font-size: 1rem;
        padding: 0;
    }

    #rules {
        padding: 0;
        font-size: 0.8rem;
    }

    .btn {
        font-size: 0.8rem;
    }

    .image-container {
        width: 50%;
    }

    #current-result {
        font-size: 0.8rem;
    }
}