

/* add base stylling */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-align: center;
}

/* stlye title area */
.title-area {
    height: 6rem;
}

.title-area h1 {
    font-size: 3rem;
    padding-top: 1rem;
}

/* style and position game areas */
.player-area, .central-area {
    display: inline;
    float: left;
}

.player-area {
    width: 40%;
    border: 2px solid black;
}

.central-area {
    width: 20%;
}